<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <header>
        <nav class="hidden lg:flex">
            <ul class="left-links">
                <li><a href="/locales/fr/pages/home.html" target="content-frame">Page d'accueil</a></li>
            </ul>
            <ul class="right-links">
                <li><a href="/locales/fr/pages/temps-reel.html" target="content-frame">Temps réel</a></li>
                <li><a href="/locales/fr/pages/articles.html" target="content-frame">Articles</a></li>
                <li><a href="/locales/fr/pages/liens-utiles.html" target="content-frame">Liens utiles</a></li>
            </ul>
        </nav>
        <div id="mobile-nav"></div>
    </header>
    <script src="/assets/js/script.js"></script>
    <script type="module">
        import { createRoot } from 'react-dom/client';
        import MobileNavigation from 'assets/js/components/navigation/MobileNavigation';
        
        const container = document.getElementById('mobile-nav');
        const root = createRoot(container);
        root.render(<MobileNavigation />);
    </script>
</body>
</html>